/* 辅助全局样式 */
body {
	margin: 0 auto;
}
.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
.center-block {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.img-circle {
	border-radius: 50%;
}

.article-redesign {
	color: #333333;
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: antiquewhite;
}
/* 上部分卡片 */
.article-header-card {
	margin: 5vh auto;
	height: 15vh;
	width: 85vw;
	border-radius: 8px;
	background-image: url('../images/article_header-card-bg.png');
	background-size: 100% 100%;
	background-color: white;
	display: flex;
	align-items: center;
	align-content: center;
}
.triangle-wrapper .icon-sanjiao {
	color: #63b826;
	margin-left: -2px;
}
/* 头像的样式 */

.avatar {
	width: 17vw;
	height: 17vw;
	margin-left: 2vw;
	border-radius: 50%;
}
.avatar img {
	width: 100%;
	border-radius: 50%;
}
.author-description {
	margin-left: 2vw;
}
.author-description .name {
	font-size: 0.16rem;
	text-align: left;
	line-height: 5vh;
}
@media screen and (max-width: 374px) {
	.author-description .content {
		font-size: 0.1rem;
	}
}
@media screen and (min-width: 415px) and (max-width: 639px) {
	html {
		font-size: 16px;
	}
}
/* 下部卡片 */
.article-bottom-card-wrapper {
	margin-top: 20vh;
}
.article-bottom-card {
	width: 94vw;
	padding-bottom: 2vh;
	border-radius: 8px;
	background-image: url('../images/article-bottom-card-bg.png');
	background-size: 100% 100%;
	background-color: white;

	position: relative;
}
.article-header-card,
.article-bottom-card {
	box-shadow: -11px 14px 52px 1px rgba(217, 217, 217, 1);
}
/* 头像 */

.article-bottom-card .avatar {
	width: 22vw;
	height: 22vw;
	position: absolute;
	left: 50%;
	top: -11vw;
	border-radius: 50%;
	z-index: 2;
	margin-left: -11vw;
}
.name-wrapper {
	padding-top: 7vh;
}
.article-bottom-card .avatar img {
	width: 100%;
	border-radius: 50%;
	border: 2px solid #ffffff;
}
.article-bottom-card .name {
	font-size: 0.16rem;
}
.article-bottom-card .content {
	margin-top: 1vh;
}
.article-bottom-card .contact {
	height: auto;
	margin-top: 2vh;
	display: flex;
}
.contact .phone {
	height: auto;
	border: 1px dashed #63b826;
	padding-top: 3vh;

	width: 35%;
	margin: 1% auto;
	padding: 3%;
	display: flex;
	align-content: center;
	align-items: center;
	flex-direction: column;
}
.phone .icon-dianhua,
.QR-code .icon-weixin {
	font-size: 0.3rem;
	color: #63b826;
}
.phone .phone-number {
	font-size: 0.16rem;
	margin: 3vh;
}

.contact .QR-code {
	height: auto;
	border: 1px dashed #63b826;
	width: 35%;
	margin: 1% auto;
	padding: 3%;
	display: flex;
	align-content: center;
	align-items: center;
	flex-direction: column;
}
.QR-code .qr-code-pic {
	width: 10vh;
	height: 10vh;
	background-color: #63b826;
}
/* 底部转发卡片 */
.bottom-block {
	margin-top: 5vh;
	height: 6vh;
	line-height: 6vh;
	display: flex;
	box-shadow: -11px 14px 52px 1px rgba(217, 217, 217, 0.4);
	align-content: center;
	align-items: center;
}
.logo-btn-wrapper {
	width: 14%;
	height: 35px;
	line-height: 35px;
}
.like-btn {
	width: 34px;
	height: 34px;
	margin: 0 auto;
	border: 1px solid #63b826;
}
.icon-star,
.icon-star-block {
	color: #63b826;
	font-size: 0.17rem;
	width: 35px;
}
.round-img {
	width: 35px;
	height: 35px;
	margin: 0 auto;
}
.round-img img {
	width: inherit;
}
.rep-btn-wrapper {
	width: 70%;
}
.btn-login {
	width: 100%;
	color: white;
	border-radius: 20px;
	background-color: #43ad1f;
}
.btn-login.focus,
.btn-login:focus,
.btn-login:hover {
	color: #ffffff;
	text-decoration: none;
}
.active {
	color: #63b826;
}
